!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %title= current_page.data.title || ''
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: ''}

    :plain
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    %link{href: 'stylesheets/style.css', type: 'text/css', rel: 'stylesheet' }

  %body
    #fb-root
      :javascript
        (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.3&appId=150380485030436";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    %nav.navbar.navbar-default.navbar-fixed-top#top-nav
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#top-nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} 
            %img{:src => "images/white_visions_logo.svg", :alt => "", width: "80", height: "80"}/

        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse#top-nav-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: '#home'} FŐOLDAL
            %li
              %a{href: '#intro'} BEVEZETŐ
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                GALÉRIA
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "#gallery-eskuvo"} Esküvő
                %li
                  %a{:href => "#gallery-beauty"} Beauty

            %li
              %a{href: '#about'} RÓLAM
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Info
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "#info-eskuvo"} Esküvő
                %li
                  %a{:href => "#info-beauty"} Beauty

            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Kapcsolat
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "#contact-form"} Ajánlatkérés
                %li
                  %a{:href => "#contact"} Kapcsolat

              
        / /.navbar-collapse
      / /.container-fluid

    = yield

    %script{:src => "//code.jquery.com/jquery-1.11.3.min.js"}
    %script{:src => "//code.jquery.com/jquery-migrate-1.2.1.min.js"}
    %script{type: 'text/javascript', src: 'javascripts/main.js'}
