@font-face {
  font-family: 'Gotham Black';
  src: url('../fonts/GOTHAM-BLACK.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-BLACK.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GOTHAM-BLACK.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GOTHAM-BLACK.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GOTHAM-BLACK.svg#0b358a21b3e426ee0635cfc34eab6e7e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Black';
  src: url('../fonts/GOTHAM-BLACKITALIC.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-BLACKITALIC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GOTHAM-BLACKITALIC.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GOTHAM-BLACKITALIC.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GOTHAM-BLACKITALIC.svg#e632b7d836810620ae95245b779fcd03') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/GOTHAM-BOLD.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-BOLD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GOTHAM-BOLD.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GOTHAM-BOLD.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GOTHAM-BOLD.svg#6a327a217ddd10461b1acdc4d224fee0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/GOTHAM-BOLDITALIC.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-BOLDITALIC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GOTHAM-BOLDITALIC.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GOTHAM-BOLDITALIC.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GOTHAM-BOLDITALIC.svg#0831ed8e39b65ae233096554daef84db') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/GOTHAM-BOOK.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-BOOK.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GOTHAM-BOOK.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GOTHAM-BOOK.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GOTHAM-BOOK.svg#7510147900d23fa3ad697e74bf146ea2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/GOTHAM-BOOKITALIC.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-BOOKITALIC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GOTHAM-BOOKITALIC.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GOTHAM-BOOKITALIC.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GOTHAM-BOOKITALIC.svg#3306677ba9cb099a0feef3c60eec633b') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Extra Light';
  src: url('../fonts/GOTHAM-EXTRALIGHTITALIC.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-EXTRALIGHTITALIC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GOTHAM-EXTRALIGHTITALIC.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GOTHAM-EXTRALIGHTITALIC.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GOTHAM-EXTRALIGHTITALIC.svg#e869c4d98aaf6b162624de2d95b087e9') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/GOTHAM-LIGHT.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-LIGHT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GOTHAM-LIGHT.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GOTHAM-LIGHT.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GOTHAM-LIGHT.svg#bf16822e282b4d885cff891f3a65335d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/GOTHAM-LIGHTITALIC.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-LIGHTITALIC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GOTHAM-LIGHTITALIC.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GOTHAM-LIGHTITALIC.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GOTHAM-LIGHTITALIC.svg#aabee2733b9e804ef6d288e82f81e260') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/GOTHAM-MEDIUM.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-MEDIUM.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GOTHAM-MEDIUM.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GOTHAM-MEDIUM.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GOTHAM-MEDIUM.svg#bdc473fae2f64b1c45b8886bcff81bae') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/GOTHAM-MEDIUMITALIC.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GOTHAM-MEDIUMITALIC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GOTHAM-MEDIUMITALIC.woff') format('woff'), /* Modern Browsers */
       url('../fonts/GOTHAM-MEDIUMITALIC.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GOTHAM-MEDIUMITALIC.svg#6a1b14fb9d14cad5a3984f81e4a1f481') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

