@import "font-awesome-sprockets";
@import "font-awesome";


@import "bootstrap-sprockets";
@import "bootstrap-datepicker";
@import "fonts";
@import "variables";
@import "bootstrap";
@import "swiper";

@import "sections/navbar";
@import "components/typography";
@import "components/datepicker";
@import "components/icheck";
@import "components/cb-slideshow";
@import "components/swiper";
@import "components/tabbed";
@import "components/zoomslider";
@import "components/loader";
@import "compass/css3";

@mixin shadow-box{
	padding: 10px 25px;
	text-align: justify;
	font-size: 0.9em; 
	line-height: 1.6;

	@media (min-width: $screen-sm-min) { 
		padding: 25px 50px 50px;
		font-size: 1em; 
		line-height: 2;
		text-align: center;


	}


	@include clearfix;
	@include box-shadow(0 0px 6px rgba(0,2,0,.18));
	background: white;
}


@include keyframes (bounce) {
   0% { @include transform( scale(1.1) );}
   50% { @include transform( scale(1) );}
   100% { @include transform( scale(1.1) );}


}


#home{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  display: none;
  @include transform( scale(1.1) );
	@include box-shadow(inset 0 0px 6px rgba(0,8,0,.5));
	@include animation( bounce 53s  3s infinite);

}


.imageHolder img{
	width: 100%;
	display: block;
}

.separator-illustration{
	margin: 0 0 0px;
	height: 150px;
	@media (min-width: $screen-sm-min) { 
		height: 400px;
	}



}

.separator-illustration__shadow{
		height: 400px;

	@media (min-width: $screen-sm-min) { 
	}
	position: absolute;
	width: 100%;
	top:0;
	left: 0;
	z-index: 1000;
	@include box-shadow(inset 0 0px 6px rgba(0,24,0,.6));

}



.blocked{
	@include shadow-box;
}

section{
	@media (min-width: $screen-sm-min) { 
		margin-top: 105px;
	}
	margin-top: 55px;

}


.wrapper, .wrapper-basic{
	background: #fff url(../images/retina_dust.png);
	position: relative;
	z-index: 100;
	display: none;
	height: 100%;
}


footer .blocked{
	background: $brand-primary;
	a{
		color: #fff;
	}
	color: #fff;
}

#gallery-links{
	padding-top: 65px; 
	margin-top: 55px;

	h1{
		margin-top: -20px;

		@media (min-width: $screen-sm-min) { 
			margin-top: -20px;
			margin-bottom: 20px;
		}
	}

	.gallery-inner{
		position: relative;
		overflow: hidden;
		margin-bottom: $grid-gutter-width;
		.text{
			cursor: pointer;
			position: absolute;
			top:0;
			left: 0;
			padding: 50% 20% 0;
			text-align: center;
			color: #fff;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0);
			@include text-shadow(0 2px 2px rgba(0,2,0,.38));
			@include transition(padding-top 0.2s 0, background 0.4s 0);
			h2{
				font-size: 2em;
				font-family: 'Gotham Book', sans-serif;
				margin-top: 0;
			}

			p{
				@include opacity(0);
				@include transition(opacity 0.2s 0);
			}

		}

		img{
			@include transition(all .3s ease-in-out);

		}


		&:hover{
			.text{
				cursor: pointer;
				@include transition(padding-top 0.5s 0, background 0.4s 0);
				padding-top:40%; 
				background: rgba(0,0,0,0.5);
				p{
					@include opacity(1);
					@include transition(opacity 0.5s 0);
				}

			}
			img{
				@include transform(scale(1.03));
			}
		}

	}
}
#gallery{
	margin-top: 85px; 
	text-align: center;
	h1{
		margin-top: -20px;
	}

	.gallery-close{


		// @media (max-width: 400px) {

		// 	position: fixed;
		// 	bottom: 33px;
		// 	left: 50%;
		// 	width: 80px;
		// 	margin-left: -40px;
		// 	z-index: 100;
		// 	text-transform: uppercase;
		// 	font-weight: bold;
		// 	background: #fff;
		// 	padding: 2px 5px;

		// } 
		@media (min-width: 400px) { 
			text-transform: uppercase;
			font-family: "Gotham Medium", sans-serif;
			z-index: 1000;
			display: block;
			padding-top: 20px;
		}
	}

	@media (min-width: $screen-sm-min) { 
		padding-top: 0px;
		h1{
			margin-top: 40px;
			margin-bottom: 20px;
		}
	}



}


body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#contact-form{
	position: relative;
	.datepicker-dropdown{
		border: 1px solid #ccc;
		padding: 10px;
	}
	form{
		text-align: left;
		margin-top: 50px;
		hr{
			border-top: 1px solid #eee;
			margin-top: 0;
		}
		.checkbox{
			margin-top: 0px;
			label{
				padding-left: 30px;
				line-height: 1.1;
				.icheckbox_square-blue{
					position: absolute;
					top:2px;
					left: 0;
				}


			}
		}
		.form-group{
			margin-bottom: 25px;
		}
		label{
			font-weight: normal;

			&.label-floatlabel {
				font-weight: normal !important;
				color: $gray-light !important;
			}
			@media (min-width: $screen-sm-min) { 
			}

		}
		
		button{
			margin-top: 20px;
			@media (min-width: $screen-sm-min) { 
				margin-top: 0;
			}

		}
		textarea{
			height: 161px;
		}
	}
}

#about{
	img{
		@extend .img-responsive;
	}
}

#contact{
	margin-top: 0;
	footer{
			
		h1{
			margin: 1em 0 30px;
			line-height: 1.5em;
			color: #fff;
		}

		ul{
			@extend .list-unstyled; 
			@extend .text-center;
			li{
				display: inline;
				padding: 0 20px;
				white-space: nowrap;
			}
		}

		.copyright{
			background: #555;
			text-align: center;
			padding: 6px 0;
			color: #fff;
			p{
				margin: 0;
				font-size: 11px;
			}
		}

	}

}