.swiper-container {
	width: 100%;
	margin: 0px auto;
 
}

.swiper-shadow{
	// position: absolute;
	// height: 100%;
	// width: 100%;
	// background: transparent;
	// top: 0;
	// left:0;
	// z-index: 1;
	// @include box-shadow(inset 0 0px 6px rgba(0,24,0,.9));

}

.swiper-button-next{
	background-image: url(../images/arrow_right.svg);
	background-position: right 50% ;
}
.swiper-button-prev{
	background-image: url(../images/arrow_left.svg);
	background-position: 20px 50% ;
}
.swiper-button-next,
.swiper-button-prev{
	display: none;
	@media (min-width: $screen-sm-min) { 
		display: block;
		width: 40%;
		height: 100%;
		background-size: auto;
		z-index: 10;
		top:0;
		margin: 0;
	}
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff;
	width: auto;
	padding-right: 1px;
	
	img{

		height: 190px;
		max-height: 190px;
		@media (min-width: 400px) { 
			height: 280px;
			max-height: 280px;
		}


		@media (min-width: $screen-sm-min) { 
			height: 450px;
			max-height: 450px;
		}

		/* Medium devices (desktops, 992px and up) */
		@media (min-width: $screen-md-min) { 
			height: 580px;
			max-height: 580px;
		}

		/* Large devices (large desktops, 1200px and up) */
		@media (min-width: $screen-lg-min) { 
			height: 800px;
			max-height: 800px;
		}
		/* Large devices (large desktops, 1200px and up) */
		@media (min-width: 1500px) { 
			height: 1000px;
			max-height: 1000px;
		}
	}


}
