.swiper-container
  .swiper-wrapper

    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC41671-501x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC41671-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC42591-501x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC42591-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC41701-501x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC41701-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/IMG_9980--528x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/IMG_9980--211x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC2474-ff1-501x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC2474-ff1-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC25931-501x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC25931-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC25291-501x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC25291-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/08/DSC2922-750x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/08/DSC2922-300x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/08/DSC2618-750x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/08/DSC2618-300x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/08/DSC2938-750x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/08/DSC2938-300x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/K--pp--r-K--sz-1167x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "193", :srcset => "http://localhost:8000/app/uploads/2015/06/K--pp--r-K--sz-300x193.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_03861-525x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_03861-210x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/08/CRW_0363-750x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/08/CRW_0363-300x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_3635-500x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_3635-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_38861-1125x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_38861-300x200.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_3866-500x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_3866-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_37631-500x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_37631-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_33631-500x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_33631-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_35821-500x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_35821-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/KU_MG_9466-500x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/KU_MG_9466-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/KU_MG_9791-500x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/KU_MG_9791-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/KU_MG_0249-500x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/KU_MG_0249-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_15821-1016x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "221", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_15821-300x221.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_27831-1125x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_27831-300x200.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/08/5.-BW.OK-szem-1126x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/08/5.-BW.OK-szem-300x200.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_18361-1125x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_18361-300x200.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/08/9.-BW-1127x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/08/9.-BW-300x200.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_15761-1321x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "170", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_15761-300x170.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/08/3.BW_-1126x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/08/3.BW_-300x200.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MMFC6520-558x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/MMFC6520-223x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MMFC6447--1117x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "201", :srcset => "http://localhost:8000/app/uploads/2015/06/MMFC6447--300x201.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MMFC6487-558x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/MMFC6487-223x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.1-599x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.1-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.2-599x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.2-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.3-599x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.3-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.4-599x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.4-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.5-600x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.5-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.6-600x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.6-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.7-599x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DM.7-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_78491-600x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_78491-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_78841-600x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_78841-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_7893-1-600x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_7893-1-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_7827-1-600x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_7827-1-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC82381-599x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC82381-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC99051-599x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC99051-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC9784-1-599x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC9784-1-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC84271-599x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC84271-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_7028-1-600x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_7028-1-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_6966-1-600x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_6966-1-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_70601-600x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_70601-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_71471-600x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_71471-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_71531-600x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/CRW_71531-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC17111-536x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC17111-214x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC18251-536x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC18251-214x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC14811-536x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC14811-214x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC16011-536x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC16011-214x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC13641-536x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/DSC13641-214x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/08/BL.4.2-599x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/08/BL.4.2-240x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/BL.2.2-1225x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "184", :srcset => "http://localhost:8000/app/uploads/2015/06/BL.2.2-300x184.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_A.4034-500x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_A.4034-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_A.3987-500x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_A.3987-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_A.4008-500x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_A.4008-200x300.jpg"}/
    .swiper-slide
      %picture
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_A.3797-1125x750.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/MG_A.3797-300x200.jpg"}/


  .swiper-pagination
  .swiper-button-next
  .swiper-button-prev
  .swiper-shadow
