.swiper-container
  .swiper-wrapper
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/DSC7682.-II.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/DSC9452b.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/7776-1.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/Modify-Curves-Layer-ok2u2.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0047-ok2u.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0047.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0058.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0069.-3-.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0157.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0201.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0238.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0258.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0308.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0337.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0352.-2.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0367.-4.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0367.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0402-színes.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0446-e2.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0466.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0469.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0486.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0502-ok.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0572-b-ok2u-ff.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0631-ok.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0670-ok.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0687-ok.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-1880.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-1899-b.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-1948.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-1952.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-1964-e.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-1989-f.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-2028-d.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-2121-b.II_.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-2191-b.II_.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-2211-k.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-2275.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-2320-b.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-7566.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-7597.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-7637.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-7843.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-7943.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-8005.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-8038.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-8062.-II.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-8094.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-8145.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-8193.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-8289.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-8341.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-8373.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-8484.-II.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9307.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9343-.-Crop.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9429.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9440.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-95621.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9607.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9638.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9672.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9686.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9844.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9859.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9900.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9937.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9983.jpg"}/
      
    .swiper-slide
      %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-9997.jpg"}/
      
  .swiper-pagination
  .swiper-button-next
  .swiper-button-prev





