.swiper-container
  .swiper-wrapper
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-99832-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-99832-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-99372-1024x684.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-99372-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-99002-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-99002-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-98592-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-98592-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-98442-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-98442-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-96862-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-96862-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-96722-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-96722-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-96382-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-96382-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-96072-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-96072-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-95624-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-95624-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-9452b.7--11.--j-Ny--jtott-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-9452b.7--11.--j-Ny--jtott-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-94402-1024x684.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-94402-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-94292-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-94292-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-9343-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-9343-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-93072-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-93072-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-8484-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-8484-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-83732-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-83732-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-83412-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-83412-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-82892-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-82892-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-81932-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-81932-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-81622-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-81622-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-81452-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-81452-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-80942-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-80942-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-8062-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-8062-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-80382-1024x684.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-80382-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-80052-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-80052-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-79432-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-79432-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-78432-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-78432-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-7782-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-7782-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-7776-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-7776-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-7776-1-1024x767.jpg"}
        %img{:alt => "", :height => "225", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-7776-1-300x225.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-7682.-II-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-7682.-II-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-76372-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-76372-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-75972-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-75972-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-75662-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-75662-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-2320-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-2320-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-22752-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-22752-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-2211-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-2211-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-2191-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-2191-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-2121-1024x684.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-2121-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-2028-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-2028-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-1989-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-1989-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-1964-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-1964-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-19522-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-19522-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-19482-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-19482-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-1899-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-1899-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-18802-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-18802-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0687-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0687-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0670-1024x684.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0670-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0631-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0631-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0572-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0572-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0502-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0502-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-04862-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-04862-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-04692-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-04692-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-04662-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-04662-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0446-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0446-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0402-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0402-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-03672-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-03672-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0367.-42-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0367.-42-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0352-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0352-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-03372-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-03372-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-03082-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-03082-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-02382-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-02382-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-02012-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-02012-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-01572-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-01572-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0069-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0069-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-00582-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-00582-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-00472-683x1024.jpg"}
        %img{:alt => "", :height => "300", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-00472-200x300.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0047-ok2u2-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untitled-0047-ok2u2-300x200.jpg"}/
    .swiper-slide
      %picture
        %source{:media => "(min-width: 768px)", :srcset => "http://localhost:8000/app/uploads/2015/06/untilted-0509-1024x683.jpg"}
        %img{:alt => "", :height => "200", :srcset => "http://localhost:8000/app/uploads/2015/06/untilted-0509-300x200.jpg"}/
  .swiper-pagination
  .swiper-button-next
  .swiper-button-prev
  .swiper-shadow
