.swiper-container
  .swiper-wrapper
    .swiper-slide
      %picture
        
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://whitevisions.hu/app/uploads/2015/06/untitled-99832-683x1024.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://whitevisions.hu/app/uploads/2015/06/untitled-99832-200x300.jpg"}/
        
    .swiper-slide
      %picture
        
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://whitevisions.hu/app/uploads/2015/06/untitled-99832-683x1024.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://whitevisions.hu/app/uploads/2015/06/untitled-99832-200x300.jpg"}/
    .swiper-slide
      %picture
        
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://whitevisions.hu/app/uploads/2015/06/untitled-99832-683x1024.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://whitevisions.hu/app/uploads/2015/06/untitled-99832-200x300.jpg"}/
    .swiper-slide
      %picture
        
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://whitevisions.hu/app/uploads/2015/06/untitled-99832-683x1024.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://whitevisions.hu/app/uploads/2015/06/untitled-99832-200x300.jpg"}/
    .swiper-slide
      %picture
        
        /[if IE 9] <video style="display: none;">
        %source{:media => "(min-width: 768px)", :srcset => "http://whitevisions.hu/app/uploads/2015/06/untitled-99832-683x1024.jpg"}
        /[if IE 9] </video>
        %img{:alt => "", :height => "300", :srcset => "http://whitevisions.hu/app/uploads/2015/06/untitled-99832-200x300.jpg"}/

  .swiper-pagination
  .swiper-button-next
  .swiper-button-prev
  .swiper-shadow
