
#home{"style" => "background-image:url(images/illustration/6.jpg)"}

.wrapper
  %section#intro.row
    .container
      .col-sm-10.col-sm-push-1
        .blocked
          %h1
            ESKÜVŐI FOTÓZÁS, ESKÜVŐ FOTÓS, ESKÜVŐI FOTÓK
          %h2
            Kedves Menyasszony és Vőlegény!  
          %p
            Engedjétek meg, hogy ezúton gratuláljak közelgő esküvőtök alkalmából!   
          %p
            Egy ilyen jelentős esemény megszervezése, ami életetek egyik legszebb és legfontosabb napja, számtalan faladattal és felelősségteljes döntéssel jár még akkor is, ha profi szervezőt vontok be. 
            Óriási a választék az esküvői szolgáltatók palettáján, így természetesen hosszabb folyamat, amíg az összes szolgáltató kínálatát megismeritek, és végül döntést hoztok. 
          %p
            Még a vizuálisan érzékenyebb pároknak is nehéz megtalálni az ideális esküvői fotóst a nagy napra, hiszen hasonló kvalitású fotósok között is többféle stílussal, látásmóddal találkozhattok. Az esküvő fotós személyisége is nagyon fontos, mivel a nagy napon végig veletek van és nem mindegy, hogyan érzitek magatokat a társaságában.   
          %p Munkáim során a legfontosabb törekvésem, hogy a lehető legőszintébben, de mégis szubjektív módon adjam vissza az esküvő egyedi hangulatát, és meghitt pillanatait. Egyfajta küldetésnek tekintem, hogy a portré-, és a divatfotográfiára jellemző képi világ is megjelenjen a fotóimon. Szeretem hangsúlyozni a szépséget és az érzelmet, olyan külső jegyekkel, mint a természetesség, a letisztultság, és az időtlenség.   
          %p Számomra az is fontos, hogy az esküvő fotózás jó hangulatban teljen, és közben nagyszerű élményben legyen részetek. Az esküvő előtt személyesen is találkozunk, így lehetőségünk van jobban megismerni egymást, és megbeszélni a fotózás részleteit. Amire elérkezik, az esküvő napja, kellemes, oldott, akár baráti légkörben tudunk együttműködni. Szeretek minden egyes munkámra teljes figyelmet és energiát fordítani, ezért csak limitált számú esküvői fotózást vállalok. Ha úgy érzitek, hogy könnyedén tudtok azonosulni fotóim hangulatával, stílusommal, akkor szeretettel várom megkereséseteket.   
          %p 
            %b Dévai Ákos 

  %section#gallery-links
    .container
      %h1
        2 esetén

      .row
        .col-sm-6
          .gallery-inner
            %a{:href => "#"}
              %img.img-responsive{:src => "images/gal_1.jpg", :alt => ""}/
              .text
                %h2 Esküvő
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptas quae vero blanditiis eos et a deserunt quidem nihil dolorum temporibus, totam vel consequatur in molestiae laborum, mollitia rem nemo.
        .col-sm-6
          .gallery-inner
            %a{:href => "#"}
              %img.img-responsive{:src => "images/gal_2.jpg", :alt => ""}/
              .text
                %h2 Esküvő
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptas quae vero blanditiis eos et a deserunt quidem nihil dolorum temporibus, totam vel consequatur in molestiae laborum, mollitia rem nemo.

