.la-ball-clip-rotate
  %div

#home{"style" => "background-image:url(images/illustration/6.jpg)"}

.wrapper
  .container
    %section#intro.row
      .col-sm-10.col-sm-push-1
        .blocked
          %h1
            ESKÜVŐI FOTÓZÁS, ESKÜVŐ FOTÓS, ESKÜVŐI FOTÓK
          %h2
            Kedves Menyasszony és Vőlegény!  
          %p
            Engedjétek meg, hogy ezúton gratuláljak közelgő esküvőtök alkalmából!   
          %p
            Egy ilyen jelentős esemény megszervezése, ami életetek egyik legszebb és legfontosabb napja, számtalan faladattal és felelősségteljes döntéssel jár még akkor is, ha profi szervezőt vontok be. 
            Óriási a választék az esküvői szolgáltatók palettáján, így természetesen hosszabb folyamat, amíg az összes szolgáltató kínálatát megismeritek, és végül döntést hoztok. 
          %p
            Még a vizuálisan érzékenyebb pároknak is nehéz megtalálni az ideális esküvői fotóst a nagy napra, hiszen hasonló kvalitású fotósok között is többféle stílussal, látásmóddal találkozhattok. Az esküvő fotós személyisége is nagyon fontos, mivel a nagy napon végig veletek van és nem mindegy, hogyan érzitek magatokat a társaságában.   
          %p Munkáim során a legfontosabb törekvésem, hogy a lehető legőszintébben, de mégis szubjektív módon adjam vissza az esküvő egyedi hangulatát, és meghitt pillanatait. Egyfajta küldetésnek tekintem, hogy a portré-, és a divatfotográfiára jellemző képi világ is megjelenjen a fotóimon. Szeretem hangsúlyozni a szépséget és az érzelmet, olyan külső jegyekkel, mint a természetesség, a letisztultság, és az időtlenség.   
          %p Számomra az is fontos, hogy az esküvő fotózás jó hangulatban teljen, és közben nagyszerű élményben legyen részetek. Az esküvő előtt személyesen is találkozunk, így lehetőségünk van jobban megismerni egymást, és megbeszélni a fotózás részleteit. Amire elérkezik, az esküvő napja, kellemes, oldott, akár baráti légkörben tudunk együttműködni. Szeretek minden egyes munkámra teljes figyelmet és energiát fordítani, ezért csak limitált számú esküvői fotózást vállalok. Ha úgy érzitek, hogy könnyedén tudtok azonosulni fotóim hangulatával, stílusommal, akkor szeretettel várom megkereséseteket.   
          %p 
            %b Dévai Ákos 

  %section#gallery-eskuvo
    .container
      %h1
        Esküvő
    = partial "swiper"

  %section#gallery-beauty
    .container
      %h1
        Beauty
    = partial "swiper"

  .container
    %section#about.row
      .col-sm-10.col-sm-push-1
        .blocked
          %h1
            Rólam
          .row
            .col-sm-9.col-sm-push-3.text-left
              %p
                A kezdetben portrékat, később modellportfóliókat készítettem. A beauty fotózások alkalmával lehetőségem nyílt megfigyelni a sminkesek, és fodrászok munkáit, és felismerni a részletek fontosságát. A fotográfia ezen területének egyik sajátossága, hogy a fotóst egy idő után felkérik katalógusok, és divatanyagok fotózására is, hiszen a beauty és a divat szinte elválaszthatatlan egymástól. Kísérleti szándékkal a sport-, akció-, és riportfotó területén tett látogatásaim eredményeként megtanultam a mozgás fotózását, és azt, hogy egy esemény bármely pillanatát magabiztosan meg tudjam örökíteni.  
              %p Fotográfiai tanulmányaimat a fotózások mellett végeztem. Ezalatt a fényképezés több területén is hasznosítható tudással lettem gazdagabb, valamint sok olyan művészeti, és vizuális impulzus ért, amely a mai napig megjelenik munkáimban.  
              %p Fotográfusként az élet számos területén találok inspirációt, és hatással van rám sok olyan alkotó, képzőművész is, aki a saját szakterületén a maximumra törekszik.     
            .col-sm-3.col-sm-pull-9
              %img.img-responsive{:src => "http://placehold.it/300x400", :alt => ""}/
              %h4 Dévai Ákos

  %section
    .separator-illustration{"data-zs-overlay" => "dots", "data-zs-speed" => 20000, "data-zs-src" => "[\"images/illustration/2.jpg\", \"images/illustration/3.jpg\", \"images/illustration/6.jpg\"]"}
      .separator-illustration__shadow

  .container
    %section.row#info-eskuvo
      .col-sm-10.col-sm-push-1
        .blocked.tabbed
          %div{'data-sticky_parent' => true}
            .row
              %div.col-sm-3.sticky-outer
                %aside#affix-eskuvo{'data-sticky_column' => true}
                  %h1
                    ESKÜVŐ FOTÓZÁS

                  %ul.nav.nav-list{:role => "tablist"}
                    %li.active{:role => "presentation"}
                      %a{"aria-controls" => "kreativ-eskuvo", "data-toggle" => "tab", :href => "#kreativ-eskuvo", :role => "tab"} KREATÍV ESKÜVŐ FOTÓZÁS
                    %li{:role => "presentation"}
                      %a{"aria-controls" => "kulon-nap", "data-toggle" => "tab", :href => "#kulon-nap", :role => "tab"} KÜLÖN NAPI KREATÍV FOTÓZÁS
                    %li{:role => "presentation"}
                      %a{"aria-controls" => "jegyes", "data-toggle" => "tab", :href => "#jegyes", :role => "tab"} JEGYES FOTÓZÁS (E-SESSION)
                    %li{:role => "presentation"}
                      %a{"aria-controls" => "fotosarok", "data-toggle" => "tab", :href => "#fotosarok", :role => "tab"} FOTÓSAROK+FOTÓ
                  %img{:src => "", :alt => ""}/
              .col-sm-8.col-sm-push-1.tab-content
                #kreativ-eskuvo.text-left.tab-pane.fade.active.in
                  %h2
                    KREATÍV ESKÜVŐ FOTÓZÁS
                  %p
                    A kreatív páros fotók csakis Rólatok szólnak, szinte biztos, hogy ebből a sorozatból választotok ki később az otthonotokba is egy-egy képet nyomtatott, keretezett formában. Már az esküvőtök tervezése során érdemes átgondolni, hogy mekkora hangsúlyt kapjon az esküvői fotók ezen része. Lehetőségetek van eldönteni, hogy a kettőtökről készülő páros fotók az esküvő napján, vagy egy teljesen külön napon készüljenek. Ha szeretnétek a kreatív fotók hangulatára és változatosságára nagyobb hangsúlyt fektetni, akkor célszerű több időt és energiát fordítani a fotózásra.
                  %p
                    Ideális esetben a kreatív páros fotók készítésére szánt idő 2-3 óra, ez biztosítja, hogy kellően változatos sorozat készüljön rólatok. A legszebb fényeket a délután közepétől a kora esti órákig kapjuk, ez nagyjából délután 4 és este 7 óra közé tehető. Hangsúlyozom ez a legideálisabb körülmény! Természetesen kevesebb idő alatt is lehet nagyszerű képeket készíteni, és ha a helyszínen van árnyékos rész, akkor már kora délután is lehet fotózni. 
                  %p
                    Ha a kreatív fotózás az esküvő napján van, akkor az egyik lehetőség, hogy a készülődés után és a szertartások előtt történik. Ez logikusnak tűnhet, hiszen a készülődés után kifogástalan a smink, a frizura, és a ruha is tökéletesen áll, és még nem vagytok körbe puszilgatva. De ugyanennyi ellenérvet is fellehet sorolni. Ha a fotózás kezdete a déli órákra esik, akkor az a lehető legrosszabb fényviszony, és a nyári hónapokban a hőség is ekkor a legnagyobb, így a frissességetekből is veszíthettek jócskán a szertartások kezdetére. Akkor a legszerencsésebb ez a választás, ha például az esküvő minden egyes eseménye egy szép helyszínen kerül megrendezésre, kihelyezett szertartással, ami a késő délutáni, kora esti órákra van időzítve.
                  %p
                    A másik lehetőség, hogy a kreatív fotózás a szertartások után és a vacsora előtt történik.
                    Ha a vőlegény az oltár előtt szeretné először megpillantani a menyasszonyt, akkor csakis ez a megoldás jöhet szóba. A legtöbb esetben a délután közepére már a templomi szertartás is befejeződik, és már túl vagytok a nap legszebb, és legfontosabb részén. Ezek után már sokkal felszabadultabban érezhetitek magatokat a fotózáson! Azonban jó, ha arra is gondoltok, hogy a fotózás ideje alatt a násznép ne érezze hiányotokat. Ez a vacsorát megelőző kellemes, kora esti időszak, így könnyedén lehet jó hangulatú atmoszférát teremteni.  

                #kulon-nap.tab-pane
                  %h2
                    KÜLÖN NAPI KREATÍV FOTÓZÁS
                  %p Fotósként remek érzés megtapasztalni, amikor az esküvői szolgáltatók részéről mindenki profin teszi azt, amihez a legjobban ért, növelve ezzel is a menyasszony és a vőlegény komfortérzetét. A ceremóniamester, vagy a vőfély szinte minden terhet levesz a vállatokról azzal, hogy levezényli az esküvőtöket, folyamatosan figyeli az eseményeket és reagál is azokra amikor szükséges. Így gyakorlatilag nincs más dolgotok, mint jól érezni magatokat és önfeledten mulatni a vendégekkel.   Ez a komfort még jelentősen növelhető, ha külön napon történik a kreatív páros fotózás. Így nem csak időt nyertek a nagy napon, de lehetőségetek van arra is, hogy az esküvőtök helyszínétől teljesen függetlenül, akár több helyszínen is készüljön fotó. Ha például Budapesten van az esküvőtök helyszíne, még fotózhatunk a Balatonon, akár egy vitorláson is. Amennyiben a külön napot választjátok, úgy garantáltan kellemes, stresszmentes hangulatban telik a fotózás.  Lehetőségünk nyílik a délutáni fényekhez alkalmazkodni, és fotózhatunk akár többet is, mint három óra időtartam. Nem nehéz belátni, hogy ezzel a választással lehet az esküvő fotózásból a legtöbbet kihozni.  
                  %p Természetesen felmerül a kérdés, hogy mindez mennyi plusszal jár. Általában a legfontosabb  tényező a menyasszony részéről az esküvői smink, a frizura, a ruha, esetleg a csokor. Persze attól, hogy a fotózás másik napon van, még készítünk az esküvő napján is páros képeket, amin szerepel a csokor, ezért nem szükséges, hogy az külön napon is képre kerüljön. A sminknek és a hajnak már fontosabb szerepe van! A legegyszerűbb, ha a fodrásszal és a sminkessel úgy beszéled meg, hogy a próbát követően két alkalommal van szükség a munkájára, így akár kedvezőbb ajánlatot is kaphatsz. Ha a menyasszonyi ruhát nem vásárolod meg, akkor is van lehetőség külön napi fotózásra, általában a szalonok 4-6 napra bocsájtják a menyasszony rendelkezésére, de ez akár hosszabbítható is. Így a fotózás lehet néhány nappal az esküvő előtt is, de ha a vőlegény a menyasszonyt csak az esküvői szertartás során szeretné először megpillantani, akkor az esküvő utáni napokra kell időzíteni. Olykor előfordul, hogy a párok olyan kalandos helyszínt választanak a kreatív fotózáshoz, hogy a nap végére nem garantálható a menyasszonyi ruha makulátlan állapota. Ilyen esetben szintén az esküvő után érdemes a kreatív képeket elkészíteni.     
                #jegyes.tab-pane
                  %h2
                    JEGYES FOTÓZÁS (E-SESSION)
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed purus nulla. Etiam magna nisi, placerat et nisi et, malesuada pretium augue. Suspendisse mi sem, laoreet eu rutrum ut, molestie et ligula. Cras mollis mauris vitae nisi lobortis, eget efficitur lectus ullamcorper. Quisque lorem purus, blandit ac felis id, euismod sollicitudin odio. Nulla dapibus pulvinar metus, non fermentum velit vehicula sit amet. Sed non quam non quam condimentum pretium. Proin euismod egestas commodo. Vestibulum lectus diam, faucibus eget lacus eu, faucibus varius velit. Curabitur in facilisis lectus. Donec et neque purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed purus nulla. Etiam magna nisi, placerat et nisi et, malesuada pretium augue. Suspendisse mi sem, laoreet eu rutrum ut, molestie et ligula. Cras mollis mauris vitae nisi lobortis, eget efficitur lectus ullamcorper. Quisque lorem purus, blandit ac felis id, euismod sollicitudin odio. Nulla dapibus pulvinar metus, non fermentum velit vehicula sit amet. Sed non quam non quam condimentum pretium. Proin euismod egestas commodo. Vestibulum lectus diam, faucibus eget lacus eu, faucibus varius velit. Curabitur in facilisis lectus. Donec et neque purus.
                #fotosarok.tab-pane
                  %h2
                    FOTÓSAROK+FOTÓ
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed purus nulla. Etiam magna nisi, placerat et nisi et, malesuada pretium augue. Suspendisse mi sem, laoreet eu rutrum ut, molestie et ligula. Cras mollis mauris vitae nisi lobortis, eget efficitur lectus ullamcorper. Quisque lorem purus, blandit ac felis id, euismod sollicitudin odio. Nulla dapibus pulvinar metus, non fermentum velit vehicula sit amet. Sed non quam non quam condimentum pretium. Proin euismod egestas commodo. Vestibulum lectus diam, faucibus eget lacus eu, faucibus varius velit. Curabitur in facilisis lectus. Donec et neque purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed purus nulla. Etiam magna nisi, placerat et nisi et, malesuada pretium augue. Suspendisse mi sem, laoreet eu rutrum ut, molestie et ligula. Cras mollis mauris vitae nisi lobortis, eget efficitur lectus ullamcorper. Quisque lorem purus, blandit ac felis id, euismod sollicitudin odio. Nulla dapibus pulvinar metus, non fermentum velit vehicula sit amet. Sed non quam non quam condimentum pretium. Proin euismod egestas commodo. Vestibulum lectus diam, faucibus eget lacus eu, faucibus varius velit. Curabitur in facilisis lectus. Donec et neque purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed purus nulla. Etiam magna nisi, placerat et nisi et, malesuada pretium augue. Suspendisse mi sem, laoreet eu rutrum ut, molestie et ligula. Cras mollis mauris vitae nisi lobortis, eget efficitur lectus ullamcorper. Quisque lorem purus, blandit ac felis id, euismod sollicitudin odio. Nulla dapibus pulvinar metus, non fermentum velit vehicula sit amet. Sed non quam non quam condimentum pretium. Proin euismod egestas commodo. Vestibulum lectus diam, faucibus eget lacus eu, faucibus varius velit. Curabitur in facilisis lectus. Donec et neque purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed purus nulla. Etiam magna nisi, placerat et nisi et, malesuada pretium augue. Suspendisse mi sem, laoreet eu rutrum ut, molestie et ligula. Cras mollis mauris vitae nisi lobortis, eget efficitur lectus ullamcorper. Quisque lorem purus, blandit ac felis id, euismod sollicitudin odio. Nulla dapibus pulvinar metus, non fermentum velit vehicula sit amet. Sed non quam non quam condimentum pretium. Proin euismod egestas commodo. Vestibulum lectus diam, faucibus eget lacus eu, faucibus varius velit. Curabitur in facilisis lectus. Donec et neque purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed purus nulla. Etiam magna nisi, placerat et nisi et, malesuada pretium augue. Suspendisse mi sem, laoreet eu rutrum ut, molestie et ligula. Cras mollis mauris vitae nisi lobortis, eget efficitur lectus ullamcorper. Quisque lorem purus, blandit ac felis id, euismod sollicitudin odio. Nulla dapibus pulvinar metus, non fermentum velit vehicula sit amet. Sed non quam non quam condimentum pretium. Proin euismod egestas commodo. Vestibulum lectus diam, faucibus eget lacus eu, faucibus varius velit. Curabitur in facilisis lectus. Donec et neque purus.

  %section
    .separator-illustration{"data-zs-overlay" => "dots", "data-zs-speed" => 20000, "data-zs-src" => "[\"images/illustration/2.jpg\", \"images/illustration/3.jpg\", \"images/illustration/6.jpg\"]"}
      .separator-illustration__shadow

  .container
    %section.row#info-beauty
      .col-sm-10.col-sm-push-1
        .blocked.tabbed
          %div{'data-sticky_parent' => true}
            .row
              %div.col-sm-3.sticky-outer
                %aside#affix-beauty{'data-sticky_column' => true}
                  %h1
                    Beauty

                  %ul.nav.nav-list{:role => "tablist"}
                    %li.active{:role => "presentation"}
                      %a{"aria-controls" => "eskuvoi-haj", "data-toggle" => "tab", :href => "#eskuvoi-haj", :role => "tab"} ESKÜVŐI HAJ
                    %li{:role => "presentation"}
                      %a{"aria-controls" => "eskuvoi-smink", "data-toggle" => "tab", :href => "#eskuvoi-smink", :role => "tab"} ESKÜVŐI SMINK
                  
                  %img{:src => "", :alt => ""}/

              .col-sm-8.col-sm-push-1.tab-content
                #eskuvoi-haj.tab-pane.fade.active.in
                  %h2
                    ESKÜVŐI HAJ
                  
                  %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/DSC9452b.jpg"}/

                  %p Ahhoz, hogy az esküvőd olyan csodálatos legyen mint, ahogy azt megálmodtad, elengedhetetlen a tökéletes külső és belső harmónia. Ezen a mesés napon a külsőd legfontosabb kiegészítője természetesen az esküvői frizura és a smink. Azt, hogy a nagy napon milyen frizurát viselsz, elsősorban a hajad adottsága és állapota határozza meg. Az esküvőd előtt 3-4 hónappal ajánlott a hajad ápoltságára nagyobb hangsúlyt fektetni, mint a hétköznapokban. Még a natúr haj is ápolást igényel, a festet, színezett pedig speciális védelemre szorulhat különösen ebben az időszakban. Bármilyen frizurát is szeretnél, sokkal jobban fog mutatni, ha az egy szépen fénylő, egészséges szerkezetű hajalapból készül. A festést, színezést, tartós hullámot, esetleg hajegyenesítést az esküvőt megelőző hétre célszerű időzíteni, így a hatás friss lesz, és lenövésmentes. Mindenképpen ajánlatos elkerülni, a színekkel és a formákkal az olyan kísérletezés, ami jelentős változás eredményez a nagy nap előtt. 

                  %p A fodrászt az esküvőd előtt körülbelül három hónappal korábban érdemes bevonnod a tervezésbe, illetve ha már beszerezted a ruhát, a fátylat és egyéb kellékeket. A legjobb, ha ezeket fotókon is be tudod mutatni a szakembernek, továbbá a neked tetsző frizurákról is jó ha van valamilyen képi anyag, ami alapján elindulhat az egyeztetés. A próbára vigyél fényképezőgépet és fotózzátok le az elkészült frizurát úgy, hogy látsszon közelről, távolról és több szögben is. Így a saját nézőpontodból kilépve könnyebb eldöntened, hogy arcformádhoz, alkatodhoz és személyiségedhez mennyire megfelelő. Hogyha a frizura elnyerte a tetszésed, akkor a nagy napon már ne változtass!
                  %p A menyasszonyi frizura kiválasztása során több esztétikai és kényelmi szempontot is érdemes figyelembe venni! Az esküvői frizurád lényege, hogy a kiemelje a szépségedet és hozzátegyen az összhatáshoz! A legfontosabb szempontok: az egyéniséged, az arc-, és fejformád, a hajad adottságai, a ruha fazonja, színe, díszítettsége, valamint a fátyol típusa. Ha a ruha gazdagon díszített, akkor érdemes letisztult kevésbé díszes frizurát készíteni, ha pedig visszafogott ruhát választottál, akkor nyugodtan lehet kreatívabb a frizura. A nagy napon többféle hatás is fogja érni a hajadat, egész nap mozgásban leszel, sőt átmúlatod az egész éjszakát és hajnalig bírnia kell az igénybevételt, ezért fontos, hogy tartós és egyben kényelmes is legyen. A kiengedett, félig feltűzött, esetleg hullámosra formált frizurák nagyobb óvatosságot igényelnek, mint a feltűzöttek és jobban is kell rájuk vigyázni. Ám az utóbbi években a kontyok mellett egyre inkább teret hódítanak a félig vagy teljesen kiengedett frizurák, fonással és virággal díszítve. A rövid, vagy félhosszú hajjal rendelkező menyasszonyok számára is ideális megoldás lehet a különböző díszek, hajékszerek mellet, ha virág is megjelenik a frizurában. Az élővirágból készített koszorú igazán romantikus külsőt eredményez akár egy teljesen kiengedett hajjal párosítva is.


                #eskuvoi-smink.tab-pane.fade
                  %h2
                    ESKÜVŐI Smink

                  %img{:alt => "", :src  => "http://shiatsu-egyesulet.hu/white-visions.com/wp-content/uploads/2014/07/untitled-0157.jpg"}/

                  %p A menyasszony tökéletes megjelenéséhez az esküvői sminknek is hasonlóan fontos szerep jut, mint a ruhának és a frizurának. Azonban jó, ha szerepét nem lépi túl, hiszen nem az a cél, hogy a smink önmagában legyen szép, sokkal inkább a tökéletes összhatás elérésére érdemes törekedni. Az esküvői smink lehet természetes, natúr hatású, vagy romantikus, de lehet dívás, akár extravagáns jellegű is, ez leginkább a menyasszony személyiségének függvénye. 

                  %p Bármelyik stílust is érzed magadénak, mindenképpen javasolt profi szakemberre bízni a smink elkészítését. Egy profi sminkes, mielőtt elkészítené az esküvői sminkedet, a személyes kívánságaid mellett még nagyon sok szempontot vesz figyelembe. Az arc-, a szem-, és a szájforma, a bőrtípus, a bőrszín, a bőr érzékenysége, a szem-, és a hajszín, a ruha és kiegészítők színe és stílusa. Az esküvői smink nem egyenlő az alkalmi sminkel, alkalmi ugyan, de sokkal több annál, hiszen több kritériumnak is meg kell felelnie. Az esküvői smink, legyen tartós, ugyanakkor ne legyen maszkhatású. Szinte alapkövetelmény, hogy vízálló, vagyis könnyálló legyen. Jól kell kinéznie nappalifényben és mesterséges megvilágítás mellett is, akárcsak fotón és filmen. 

                  %p A tökéletes smink eléréséhez fontos az arcbőr megfelelő előkészítése, ezért érdemes bőrtípusodnak megfelelő kozmetikai szolgáltatásokat is igénybe venni. Egy kozmetikus sokat segíthet abban, hogy arcbőröd csúcsformában legyen, mire a nagy napon beülsz a sminkes székébe. Egy szép, ápolt bőrön, sokkal szebb sminket lehet elkészíteni. Az esküvő előtti héten kerülj minden olyan tevékenységet, amely bőröd hidratáltságát negatívan befolyásolhatja. Ilyen például a napozás, vagy a szolárium használata, és fűszeres ételek fogyasztása. Igyál sok vizet és pihenj minél többet, ezzel nem csak a bőröd lesz szebb, de a közérzeted is jelentősen javul.  


                  %p A próbasmink természetesen nem kötelező, de javasolt! Ha kérsz próbasminket, van idő alaposan megbeszélni kívánságaidat a sminkessel, majd kényelmesen, átgondoltan elkészítheti. Ha bármit másképp szeretnél, van mód a változtatásra és ha akkor sem tetszik, még mindig van lehetőséged teljesen újat kipróbálni. Mint ahogy frizuránál, úgy a sminknél is akkor érdemes a próba, ha már megvan a ruha és a kiegészítők, de a legjobb, ha a két próba egymás után következik haj-smink sorrendben, így az összhatás is azonnal látszik. Ha sminket magadon hagyod, nem csak a stílusát, de a tartósságát is le tudod tesztelni, továbbá az is kiderülhet, hogy hogyan reagál a bőröd a sminkelés során használt anyagokra. Nagyon ritkán, de megesik, hogy a menyasszony bőre extra érzékeny, és még a legjobb minőségű sminktermékek használata mellett is előfordulhat valamilyen bőrreakció. Ha ez történne, akkor sem kell aggódni, hiszen van lehetőség más termékek kipróbálására. Amire elérkezik a nagy nap, minden téren felkészült leszel, és már nem ér meglepetés. 

                  %p Ha esküvői sminkről van szó, akkor nem az aktuális divatban kell keresni a megoldást, hiszen a sminktrendek évről évre változhatnak. Érdemes arra is gondolni, hogy a sminked időtálló legyen és a fotókat visszanézve az hosszú idő után is bármikor természetesnek hasson. A legtöbb menyasszony a természetes sminket részesíti előnyben, aminek nagy előnye, hogy nehéz vele melléfogni, és a nyári forróságban igazán kényelmes viselet. Azoknak a menyasszonyoknak, akik a hétköznapokban csak nagyon kevés sminket hasznának, szintén ideális választás, a natúr, vagy természetes esküvői smink. Hogyha a natúr sminknél erősebbet szeretnél, el kell döntheted, hogy a szemed, vagy a szád kapjon nagyobb hangsúlyt. Amennyiben szemhangsúlyos sminket választasz, több lehetőség kínálkozik, akár az erős kontúros, akár a teljesen elsatírozott mellet döntesz. Esküvőre ez mindenképpen praktikusabb megoldás, mivel nem kell annyiszor a rúzs kiigazításával foglalkoznod. Ha úgy döntesz, hogy a szádat szeretnéd hangsúlyozni, akkor arra kell törekedni, hogy a szemed ne legyen túlsminkelve, fontos odafigyelni az egyensúlyra. Azoknak a menyasszonyoknak, akik erősebb sminket szeretnének, jó választás lehet egy füstös smink, amit, sokféleképpen el lehet készíteni. A füstös szemfestéshez elegendő egy természetes színű, visszafogott árnyalatú rúzs, illetve szájfény. Ne feledjük, hogy esküvőket nemcsak nyáron, hanem egész évben tartanak, ezért indokot lehet, hogy a smink készítése során az adott évszak hangulatát is figyelembe veszitek, és az évszakra jellemző színek is megjelennek a sminkedben. 


  %section
    .separator-illustration{"data-zs-overlay" => "dots", "data-zs-speed" => 20000, "data-zs-src" => "[\"images/illustration/2.jpg\", \"images/illustration/3.jpg\", \"images/illustration/6.jpg\"]"}
      .separator-illustration__shadow


  .container
    %section#contact-form
      .row
        .col-sm-10.col-sm-push-1
          .blocked
            %h1 Ajánlatkérés

            %form{:role => "form"}
              .row
                .col-sm-4
                  .form-group
                    %label.control-label{:for => "inputEmail"} Név:
                    %input#inputEmail.form-control{:placeholder => "", :type => "email"}/
                  .form-group
                    %label.control-label{:for => "inputPassword"} 
                    %input#inputPassword.form-control{:placeholder => "Email", :type => "password"}/
                  .form-group
                    %label.control-label{:for => "inputLabel3"} 
                    %input#inputLabel3.form-control{:placeholder => "Telefonszám", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "inputLabel4"} Esküvő dátuma:
                    %input#inputLabel4.form-control.datepicker{:placeholder => "", :type => "date"}/
                  .form-group
                    %label.control-label{:for => "input5"} Esküvő helyszíne:
                    %input#input5.form-control{:placeholder => "", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "input6"} Rendelkezésre állási idő (-tól):
                    %input#input6.form-control{:placeholder => "", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "input7"} Rendelkezésre állási idő (-ig):
                    %input#input7.form-control{:placeholder => "", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "input8"} Vendégek létszáma:
                    %input#input8.form-control{:placeholder => "", :type => "text"}/
                .col-sm-8
                  %p
                    Kérlek válaszd ki mely eseményeket szeretnéd megörökíttetni!
                  .row
                    .col-sm-4

                      .form-group
                        .checkbox
                          %label{:for => "input6"} 
                            %input{:placeholder => "", :type => "checkbox"}/
                            Készülődés
                      .form-group
                        .checkbox
                          %label{:for => "input6"} 
                            %input{:placeholder => "", :type => "checkbox"}/
                            Polgári szertartás
                    .col-sm-4
                      .form-group
                        .checkbox
                          %label{:for => "input6"} 
                            %input{:placeholder => "", :type => "checkbox"}/
                            Egyházi szertartás
                      .form-group
                        .checkbox
                          %label{:for => "input6"} 
                            %input{:placeholder => "", :type => "checkbox"}/
                            Kreatív fotózás
                    .col-sm-4
                      .form-group
                        .checkbox
                          %label{:for => "input6"} 
                            %input{:placeholder => "", :type => "checkbox"}/
                            Vacsora
                      .form-group
                        .checkbox
                          %label{:for => "input6"} 
                            %input{:placeholder => "", :type => "checkbox"}/
                            Parti
                  %hr/

                  .row
                    .col-sm-4
                      .form-group
                        .checkbox
                          %label{:for => "input6"} 
                            %input{:placeholder => "", :type => "checkbox"}/
                            Jegyes fotózás (e-session)
                    .col-sm-4
                      .form-group
                        .checkbox
                          %label{:for => "input6"} 
                            %input{:placeholder => "", :type => "checkbox"}/
                            Kreatív fotózás külön napon
                    .col-sm-4
                      .form-group
                        .checkbox
                          %label{:for => "input6"} 
                            %input{:placeholder => "", :type => "checkbox"}/
                            Fotósarok
                  
                  .row
                    .col-sm-12
                      .form-group
                        %label.control-label Üzenet 
                        %textarea.form-control{:name => "", :cols => "30", :rows => "10"}
                      .row
                        .col-sm-6
                          %label.control-label{:for => ""} A képen látható szám:
                          %input.form-control{:placeholder => ""} 
                        .col-sm-6
                          %button.btn.btn-primary.btn-block.pull-right
                            Ajánlat kérés elküldése

    



  %section#contact
    %footer
      .container
        .row
          .col-sm-10.col-sm-push-1
            .blocked
              
              %h1
                WHITE VISIONS PHOTOGRAPHY 
                %br/
                %br/
                DÉVAI ÁKOS
                  
              
              %ul
      
                %li 
                  %a{:href => "#"}
                    %i.fa.fa-globe
                    www.whitevisions.hu
                
                %li
                  %i.fa.fa-envelope
                  info@whitevisions.hu 
                %li
                  %i.fa.fa-mobile
                  +36 1 234 5678
                %li
                  %a{:href => "#"}
                    %i.fa.fa-facebook
                    whitevisionsphotography
              .fb-like{"data-action" => "like", "data-href" => "https://developers.facebook.com/docs/plugins/", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "true"}
            .copyright
              %p
                Copyright © 2015 

